<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfiziq.sdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face" />

    <application android:largeHeap="true">
        <activity android:name=".activities.DebugUploadActivity"></activity>

        <provider
            android:name=".util.FileProviderLogs"
            android:authorities="${applicationId}.fileproviderlogs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.MyFiziqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DebugActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DebugAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DebugStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DebugHarnessActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".db.ORMContentProvider"
            android:authorities="${applicationId}.myq_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:syncable="true" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <!--
            Crashlytics is initialised at runtime.

            Specify whether it should be enabled by toggling "enable_crash_logs_for_debug_build"
            and "enable_crash_logs_for_release_build"
        -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>