[submodule "myfiziq-android"]
	path = myfiziq-android
	url = https://github.com/MyFiziqApp/myfiziq-android.git
	branch = master
[submodule "myfiziq-sdk-android"]
	path = myfiziq-sdk-android
	url = https://github.com/MyFiziqApp/myfiziq-sdk-android
	branch = master
[submodule "myfiziqsdk-android-input"]
	path = myfiziqsdk-android-input
	url = https://github.com/MyFiziqApp/myfiziqsdk-android-input.git
[submodule "myfiziqsdk-android-profile"]
	path = myfiziqsdk-android-profile
	url = https://github.com/MyFiziqApp/myfiziqsdk-android-profile.git
[submodule "myfiziqsdk-android-track"]
	path = myfiziqsdk-android-track
	url = https://github.com/MyFiziqApp/myfiziqsdk-android-track.git
[submodule "myfiziqsdk-android-cpp"]
	path = myfiziqsdk-android-cpp
	url = https://github.com/MyFiziqApp/myfiziqsdk-android-cpp.git

